@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #262626;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background_light.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #262626;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #b000ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.texto-header {
  margin-top: 20%;
  font-size: 30px;
}

.texto-header h1 {
  font-size: 55px;
  margin-top: 20px;
}

.texto-header p span {
  color: #b000ff;
}

/* ===================Sobre=================== */
#Sobre {
  padding: 80px 0;
  color: #363636;
}

.Linha {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Sobre-coluna-1 {
  flex-basis: 35%;
}

.Sobre-coluna-1 img {
  width: 100%;
  border-radius: 15px;
}

.Sobre-coluna-2 {
  flex-basis: 60%;
  text-align: justify;
  
}

.Subtitulo {
  font-size: 60px;
  font-weight: 600;
  color: #262626;  
}

.tab-titulos {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #b000ff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.ativa-link::after {
  width: 50%;
}

.tab-conteudo ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-conteudo ul li span {
  color: #A75BCA;
}

.tab-conteudo{
  display: none;
}

.tab-conteudo.ativa-tab{
  display: block;
}

/* ===================serviços=================== */
#servicos{
  padding:30px 0;
}

.lista-servicos{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.lista-servicos div{
  background: #a7a6a6;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  text-align: justify;
}

.lista-servicos div i{
  font-size: 50px;
  margin-top: 30px;
}

.lista-servicos div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.lista-servicos div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.lista-servicos div:hover{
  background: #b000ff;
  transform: translateY(-10px);
}

/* ===================Portfólio===================  */

#portfolio {
  padding: 50px 0;
}

.lista-trabalhos{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.trabalho {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.trabalho img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.camada {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #b000ff);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center; 
  font-size: 14px;
  transition: height 0.5s;
  color: #fff;
}

.camada h3{
  font-weight: 500;
  margin-bottom: 20;
}

.camada a{
  margin-top: 20px;
  color:#b000ff;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.trabalho:hover img{
  transform: scale(1.1);
}

.trabalho:hover .camada{
  height: 100%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #b000ff;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #363636;
}

.btn:hover{
  background: #b000ff;
}

/* ===================Contato=================== */

.contato-esquerda{
  flex-basis: 35%;
}

.contato-direita{
  flex-basis: 60%;
}

.contato-esquerda p{
  margin-top: 30px;
}

.contato-esquerda p i{
  color: #b000ff;
  margin-right: 15px;
  font-size: 25px;
}

.sociais{
  margin-top: 30px;
}

.sociais a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.sociais a:hover{
  color: #b000ff;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #fff;
}

.contato-direita form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #EEEEEE;
  padding: 15px;
  margin: 15px 0;
  color: #363636;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

/* ===================css responsividade=================== */

nav .fa-solid{
  display: none;
}

@media only screen and (max-width: 600px){
  header {
    background-image: url(images/phone-background_light.png);
  }

  .texto-header{
    margin-top: 90%;
    font-size: 16px;
  }

  .texto-header h1{
    font-size: 30px;
  }

  nav .fa-solid{
    display: block;
    font-size: 25px;
  }

  nav ul{
    background: #b000ff;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li{
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid{
    position: absolute;
    top:  25px;
    left: 25px;
    cursor: pointer;
  }

  .Subtitulo{
    font-size: 40px;
  } 

  .Sobre-coluna-1, .Sobre-coluna-2{
    flex-basis: 100%;
  }

  .Sobre-coluna-1{
    margin-bottom: 30px;
  }

  .Sobre-coluna-2{
    font-size: 12px;
  }

  .tab-links{
    font-size: 12px;
    margin-right: 20px;
  }

  #servicos h2{
    font-size: 20px;
  }

  #servicos p{
    font-size: 12px;
  }

  #portfolio h3{
    font-size: 13px;
  }

  #portfolio p{
    font-size: 10px;
  }

  .contato-esquerda, .contato-direita{
    flex-basis: 100%;
  }

  .copyright{
    font-size: 14px;
  }
}

#msg{
  color: #61b752;
  margin-top: -20px;
  display: block;
}