@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #b000ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.texto-header {
  margin-top: 20%;
  font-size: 30px;
}

.texto-header h1 {
  font-size: 55px;
  margin-top: 20px;
}

.texto-header h1 span {
  color: #b000ff;
}

/* ======Sobre====== */
#Sobre {
  padding: 80px 0;
  color: #ababab;
}

.Linha {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Sobre-coluna-1 {
  flex-basis: 35%;
}

.Sobre-coluna-1 img {
  width: 100%;
  border-radius: 15px;
}

.Sobre-coluna-2 {
  flex-basis: 60%;
}

.Subtitulo {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titulos {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #b000ff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.ativa-link::after {
  width: 50%;
}

.tab-conteudo ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-conteudo ul li span {
  color: #A75BCA;
}

.tab-conteudo{
  display: none;
}

.tab-conteudo.ativa-tab{
  display: block;
}

/* =========serviços========= */
#servicos{
  padding:30px 0;
}

.lista-servicos{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.lista-servicos div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.lista-servicos div i{
  font-size: 50px;
  margin-top: 30px;
}

.lista-servicos div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.lista-servicos div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.lista-servicos div:hover{
  background: #b000ff;
  transform: translateY(-10px);
}